/* FOOTER */
/* mobile */
.footer-top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.footer-top .dot {
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 8px;
    margin-bottom: 30px;
}

.shopping-info {
    display: none;
}

.infoSwiper {
    width: 100%;
    height: 160px;
    margin: 26px 0;
}
.infoSwiper .swiper-slide {
    text-align: center;
    font-size: 16px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-title {
    font-size: 20px;
    color: #8E8E8E;
    display: block;
    margin-bottom: 18px;
}
.info-text {
	font-family: 'Pretendard';
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 26px;
}
.infoSwiper .swiper-pagination-bullet {
    width: 45px;
    height: 1px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    text-indent: -9999px;
}
.infoSwiper .swiper-pagination-bullet-active {
    color: #fff;
    background: #000;
}

.subscription {
    width: 100vw;
}
.animated-title {
    font-size: 40px;
    letter-spacing: 0.08em;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 40px 0; 
    overflow-x: hidden;
    overflow-y: hidden;
}
.animated-title .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite;
}
@keyframes marquee {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}
       
.subscription p {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 50px;
}
.subscription p span {
    font-weight: 300;
}
#email-form {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #A0A0A0;
}
#email-form label {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 38px;
    height: 26px;
    background-image: url(../img/i_mail.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
#email-form input {
    width: 200px;
    padding-bottom: 14px;
    text-align: center;
    margin-right: 20px;
    background-color: transparent;
}
#email-form input::placeholder {
    font-family: 'Pretendard';
    font-size: 14px;
    color: #000000;
}
#email-form .btn-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    transition: 0.3s;
}
#email-form .btn-subscribe:hover {
    color: #A36060;
}

.footer-bottom {
    margin-top: 130px;
    font-family: 'Pretendard';
    font-size: 14px;
}
.footer-bottom .flexbox > div {
    margin-bottom: 24px;
}
.footer-bottom .title {
    font-weight: 400;
    color: #8E8E8E;
    padding-bottom: 12px;
}
.footer-bottom .ft-list {
    font-weight: 300;
}
.footer-bottom .ft-list li {
    padding-bottom: 8px;
}

.block-company {
    padding-bottom: 50px;
}
.ft-logo {
    width: 100px;
    margin-bottom: 6px;
}
.block-company span,
.block-company-flex span {
    line-height: 1.5;
    font-family: 'Canela';
}
.block-company-flex {
    display: none;
}

.ft-brandname {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 24px;
}

#btn-top {
    display: block;
    z-index: 100;
    position: fixed;
    right: 25px;
    bottom: -120px;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    background-image: url(../img/i_top.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: bottom 0.5s;
}

/* tablet */
@media screen and (min-width: 768px) {
    .shopping-info {
        display: flex;
        padding: 60px 0 100px 0;
    }
    .shopping-info li:not(:last-child) {
        margin-right: 60px;
    }
    .infoSwiper {
        display: none;
    }

    .subscription p {
        margin-bottom: 70px;
    }
    #email-form {
        width: 486px;
        display: inline-block;
        text-align: center;
    }

    .footer-bottom .flexbox {
        display: flex;
        justify-content: space-between;
    }
}

/* pc */
@media screen and (min-width: 1280px) {
    .shopping-info {
        padding: 90px 0 100px 0;
    }
    .subscription p {
        margin-bottom: 80px;
    }
    #email-form {
        width: 600px;
    }

    .footer-bottom {
        margin-top: 240px;
    }
    .block-company {
        display: none;
    }
    .block-company-flex {
        display: block;
    }
}
