/* mobile */
section {
  text-align: center;
}
.s-heading {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  color: #5B5A58;
  letter-spacing: 1px;
  display: block;
}
.l-heading {
  font-size: 40px;
  display: inline-block;
}

#event {
  margin-top: calc(80vh + 40px);
  position: relative;
}
#event img {
  width: 100%;
}
#event .s-heading {
  margin-bottom: 14px;
}
#event .l-heading {
  text-align: left;
  position: absolute;
  bottom: 90px;
  left: 25px;
  color: #fff;
  line-height: 1.4;
}
.btn-discover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: absolute;
  width: 116px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  bottom: 40px;
  left: 25px;
  transition: 0.3s;
}
.btn-discover:hover {
  background-color: #000;
  color: #fff;
}

#beauty-product {
  padding-top: 80px;
}
#beauty-product .s-heading {
  margin-bottom: 20px;
}
#beauty-product .l-heading {
  position: relative;
}
#beauty-product .l-heading::after {
  content: '';
  background-color: #A36060;
  width: 200px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tab {
  margin: 24px 0;
  display: flex;
  justify-content: center;
}
.tab > div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.tab > div:hover {
  opacity: 0.7;
}
.tab > div:not(:last-of-type) {
  margin-right: 20px;
}
.tab .on {
  position: relative;
}
.tab .on::before {
  content: '✓';
  font-family: 'Pretendard', sans-serif;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div[data-tab='signiture'] {
  background-color: #BD2426;
}
div[data-tab='chaleur'] {
  background-color: #B65662;
}
div[data-tab='madame'] {
  background-color: #E7B2AF;
}

.tabcont {
  position: relative;
  display: none;
}
.tabcont.on {
  display: block;
}
.tabcont img {
  width: 100%;
}
.tabcont .product-name {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 40px;
  color: #fff;
}


#new-arrival {
  text-align: left;
  margin-top: 80px;
  padding-bottom: 50px;
}
#new-arrival .s-heading {
  margin-left: 25px;
  margin-bottom: 20px;
}
#new-arrival .l-heading {
  margin-left: 25px;
  margin-bottom: 20px;
}
.newArrival .swiper-slide {
  position: relative;
}
.newArrival .swiper-slide .dress-name {
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(0, 50%);
  color: #fff;
  font-size: 30px;
}
.newArrival .swiper-button-next,
.newArrival .swiper-button-prev {
  color: #fff;
}

/* tablet */
@media screen and (min-width: 768px) {
  .l-heading {
    font-size: 50px;
  }
  #event {
    width: 100%;
    padding: 0 60px;
    margin-top: 486px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #event img {
    width: 350px;
  }
  #event .s-heading {
    text-align: left;
  }
  #event .l-heading {
    position: inherit;
    color: #000;
    left: 0;
    font-size: 60px;
    margin-bottom: 24px;
  }
  #event .btn-discover {
    position: inherit;
    left: 0;
    background-color: #000;
    color: #fff;
  }
  #event .btn-discover:hover {
    background-color: #fff;
    color: #000;
  }
  #beauty-product {
    margin-top: 130px;
    padding: 0 60px;
  }
  #beauty-product .l-heading::after {
    width: 250px;
    height: 8px;
  }
  #beauty-product .palette {
    display: flex;
    margin-top: 46px;
  }
  #beauty-product .palette .tab {
    display: flex;
    flex-direction: column;
  }
  .tab > div {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 40px;
  }
  .tab > div:not(:last-of-type) {
    margin-bottom: 20px;
  }

  #new-arrival {
    margin-top: 130px;
  }
  #new-arrival .s-heading {
    margin-left: 60px;
    margin-bottom: 20px;
  }
  #new-arrival .l-heading {
    margin-left: 60px;
    margin-bottom: 46px;
  }
}

/* pc */
@media screen and (min-width: 1280px) {
  #event {
    margin-top: 800px;
    padding: 0 100px;
  }
  #event img {
    width: 550px;
  }
  #beauty-product {
    padding: 0 250px;
  }
  #new-arrival .s-heading {
    margin-left: 100px;
  }
  #new-arrival .l-heading {
    margin-left: 100px;
  }
}